﻿body {
	background-image:url('bg.png');
	font-family: 'Segoe UI Light', sans-serif;
}
iframe {
	border: 1px solid #BFBFBF;
	padding: 1px;
}
#maincontent {
	width: 546px;
	margin-left: 410px;
}
#leftborder {
	width: 20px;
	height: 100%;
	background-image: url("shadowr.png");
	background-repeat: repeat-y;
	float: left;
	margin-left: 380px;
}
#rightborder {
	width: 20px;
	height: 100%;
	background-image: url("shadow.png");
	background-repeat: repeat-y;
	float: right;
	margin-right: 380px;
}
textarea
{
	resize: none;
	width: 530px; 
	height: 240px;
}